*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  border-radius: 4px;
}
a{
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.cadastros li ul {
  display: flex;
  padding: 20px;
  background-color: var(--cor-12);
  justify-content: space-between;
}