.hero-section-bg{
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(to right, var(--cor-00)20%,var(--cor-11)0%);
}
.hero-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}