.valores{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.valores-dados{
  background-color: var(--cor-11);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

@media (max-width:800px) {
  .valores-bg{
    background: linear-gradient(var(--cor-00)70%, var(--cor-12)0);
  }
  .valores{
    grid-template-columns: 1fr;
  }
  .valores-dados{
    grid-row: 2;
  }
}